<h1>Welcome to the Movie Library!!</h1>

<table>
<thead>
    <tr>
        <h3><%= @library.title %> </h3>
    </tr>
    <br />
</thead>
<tbody>
    <% @movies.each do |movie| %>
        <ul>
            <li> <%= movie.title %> </li>
            <%= link_to 'Movie Details', library_movie_path(@library, movie), class: 'btn btn-success' %>
            <%= link_to 'Add Movie', add_to_library_path(movie), class: 'btn btn-warning' %>
            <%= link_to 'Delete',
                      delete_from_library_path(movie),
                      class: 'btn btn-danger',
                      data: { confirm: 'Really Delete?'},
                      method: :delete
           %>
        </ul>
    <% end %>
    <%= will_paginate @movies, renderer: BootstrapPagination::Rails %>
    <br />
    <%= link_to 'Add Movies!!', library_movies_path(@library), class: 'btn btn-success'%>
</tbody>
</table>